<div class="nav">
    <ul class="fa_wh fix">
        <li class="nav_clo">
            <a href="/Mobile/Mall" class="db tc">
                <i class="iconfont">&#xe606;</i>
                <strong class="db n">在线预订</strong>
            </a>
        </li>
        <li>
            <a href="user.php" class="db tc">
                <i class="iconfont">&#xe600;</i>
                <strong class="db n">会员中心</strong>
            </a>
        </li>
        <li>
            <a href="index.php" class="db tc">
                <span class="nav_home"><i class="iconfont">&#xe604;</i></span>
            </a>
        </li>
        <li>
            <a href="/Mobile/Map" class="db tc">
                <i class="iconfont">&#xe607;</i>
                <strong class="db n">一键导航</strong>
            </a>
        </li>
        <li>
            <a href="tel:0571-88760888" class="db tc">
                <i class="iconfont">&#xe603;</i>
                <strong class="db n">拨号</strong>
            </a>
        </li>
    </ul>
</div>  