<!DOCTYPE html>
<html class="photo_bg">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$article_detail.article_title}- 农夫乐园官网</title>
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link href="static/css/css.css" rel="stylesheet" type="text/css" />
    <link href="static/css/iconfont.css" rel="stylesheet" type="text/css" />
</head>

<body class="mb10 photo_bg">
    <div class="photo_view">
        <img src="{$article_detail.article_img}" class="db" />
    </div>
    <div class="back_btn fa_wh"><a href="photo.php"><i class="iconfont">&#xe610;</i></a></div>
   
</body>
</html>
